@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
}
/* header section */
.header-container {
  background-image: url(assets/Hero-bg.png);
  max-width: 1349px;
  height: 652px;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
}
.header-img {
  width: 240.28px;
  height: 240px;
  margin-top: 26px;
}
.header-title {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  margin: 0 auto;
  margin-top: 30px;
  width: 998px;
}
.header-content {
  margin-top: 26px;
  font-size: 16px;
  font-weight: 400;
}
.header-btn {
  width: 240px;
  height: 66px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  border: none;
  margin-top: 26px;
}
/* banner section */
.banner-container {
  width: 1140px;
  height: 1393px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin: 0 auto;
  margin-top: 74px;
}
.banner-title h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  padding-top: 80px;
}
.banner-title p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  padding-top: 24px;
  margin-bottom: 48px;
  width: 852px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.banner-items {
  border-radius: 16px;

  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  width: 946px;
  height: 336px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 48px;
}

.banner-discription h1 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-discription p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.banner-discription button {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  width: 171px;
  height: 47px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
}
#right-content {
  margin-left: 40px;
}
/* video section */
.video-container {
  width: 1140px;
  height: 775px;
  margin: 0 auto;
  margin-top: 90px;
}
.video-title {
  text-align: center;
}
.video-title h1 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  padding-top: 40px;
  margin-bottom: 24px;
}
.video-title p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}
.video-youtube {
  text-align: center;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  width: 1140px;
  height: 614px;
  position: relative;
}
.video {
  position: absolute;
  bottom: 4%;
}
/* skills section */
.slills-container {
  width: 1140px;
  height: 460px;
  margin: 0 auto;
  margin-top: 150px;
}
.skill-title {
  text-align: center;
}
.skill-title h1 {
  color: rgb(13, 19, 33);
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 800;
}
.skill-title p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
}
.skill-content {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.skill-items {
  position: relative;
  top: 105px;
  padding: 30px;
  width: 364px;
  height: 299px;
  border-radius: 16px;
}
/* shared color */
.clr1 {
  background: rgba(255, 76, 30, 0.05);
}
.clr2 {
  background: rgba(0, 76, 232, 0.05);
}
.br {
  padding-bottom: 20px;
}
